.list {
    flex: 0 0 350px;
    min-width: 350px;
    max-width: 350px;
    display: flex;
    flex-direction: column;
}

/* Tablet responsiveness */
@media (max-width: 1024px) {
    .list {
        flex: 1;
        min-width: 100%;
        max-width: 100%;
    }
}

/* Mobile responsiveness */
@media (max-width: 768px) {
    .list {
        flex: 1;
        min-width: 100%;
        max-width: 100%;
        height: 100%;
    }
}